# ***Ideas sobre estadística***

## **Fundamentos de estadística para analítica de Datos**
### ***Docente: Luis Andres Campos Maldonado.***

## ***¿Que es la estadística?***


La estadística es una disciplina científica que se ocupa de la obtención, orden y análisis de un conjunto de datos con el fin de obtener explicaciones y predicciones sobre fenómenos observados. En esta tarea se busca sistematizar, recoger, ordenar y presentar datos referentes a un fenomeno que
presenta variabilidad o incertidumbre para su estudio metódico. Esto busca poder lograr hacer previsiones, tomar decisiones y obtener conclusiones.

## ***Población y muestra***

<div align='center'><img src='https://raw.githubusercontent.com/lacamposm/Fundamentos_Analitica/main/images/muestra_poblacion.png' width=550>
<img src='https://raw.githubusercontent.com/lacamposm/Fundamentos_Analitica/main/images/esta_parametro.png' width=550>
</div>

Consideremos algunos términos que serán de uso recurrente.

***Población***

Es el conjunto de todos los elementos o unidades (personas, objetos, animales, etc.) bajo consideración en un estudio estadístico y sobre los que se
desea medir una o varias características, con el fin de describir y/o hacer inferencia de las mismas.

***Marco muestral***

Es el medio por el cual los elementos de una población objetivo son identificados.

***Muestra***

Es un subconjunto de elementos o unidades de una población estadística seleccionados de forma adecuada (mediante algún esquema de muestreo).

***Unidad de muestreo***

Es la unidad que es de hecho seleccionada para componer la muestra.

***Variable de interés***

Es la característica propia de los individuos sobre la que se realiza la inferencia para resolver los objetivos de la investigación.

#### ***Ejemplo.***

Supongamos que el sistema de gestión integral de Transmilenio desea evaluar
la proporción de empleados que están a favor de una nueva política de
bonificación salarial de la empresa.

Analicemos las definiciones dadas previamente respecto al problema en
cuestión:

***Población*** Está conformada por todos y cada uno de los
empleados de Transmilenio que se puedan ser “medidos” mediante
una encuesta de opinión.

***Unidad de muestreo:*** Todos los empleados de Trasmilenio o áreas
funcionales.

***Marco muestral:*** si se especifica como unidad de muestreo el
votante individual, el marco muestral será una lista de todos los
empleados de Transmilenio. Si se consideran las  ́areas funcionales
como unidades de muestreo, tendremos más de un marco muestral y
serán las listas de empleados por departamento.

***Muestra:*** será una colección de unidades de muestreo (empleados de
Transmilenio) obtenidas a partir de uno o varios marcos de muestreo.

El muestreo es el área de la estadística que estudia técnicas y procedimientos para retirar y analizar una muestra con el objetivo de hacer inferencia
respecto a una población.

¿Cuál es la importancia del muestreo?

1. Poder cuantificar una población.
1. Caracterizar una población mediante una muestra.
2. Poder tomar decisiones basados en una muestra probabilística.

***Ejemplo de aplicaciones:***

- **Marketing:** Encuestas de mercado, encuestas de satisfacci ́on del
cliente.

- **Sociología:** Encuestas de opinión.

- **Ciencia Política:** Encuestas electorales.

- **Psicología:** Investigaciones comportamiento, investigaciones de
calidad de vida.

- **Ingeniería:** Implementación de planes para seguimiento de calidad,
control de calidad.

***Ventajas del muestreo vs Censo:***

- Bajo costo.

- Rapidez.

- Calidad de la información.

### ***Tipos de datos:***

Una **variable** es cualquier característica cuyo valor puede cambiar de un objeto a otro en la población.

Por su naturaleza podemos considerar variables del tipo:

- Univariantes: Son quellas que en nn conjunto de datos univariantes se compone de observaciones realizadas
en una sola variable.
- Bivariantes: Se tienen datos bivariantes cuando se realizan observaciones en cada unidad experimental de dos variables.

- Multivariantes: Estos surgen cuando se realizan observaciones en más de una variable (por lo que bivariante es un caso especial de multivariante).

Vamos a considerar los 2 tipos de datos clásicos:

<div align='center'><img src='https://raw.githubusercontent.com/lacamposm/Fundamentos_Analitica/main/images/tipos_variables_1.png' width=550>
</div>

- ***Numéricos:*** Datos que se expresan en una escala numérica.

 1. Continuo: Datos que pueden tomar cualquier valor en un intervalo.
 2. Discreto: Datos que solo pueden tomar valores enteros, como conteos.

- ***Categóricos:*** Datos que pueden tomar solo un conjunto específico y finito de valores que representan un conjunto de posibles categorías.

1. Binario: Un caso especial de datos categóricos con solo dos categorías de valores, por ejemplo, 0/1,
verdadero Falso. (Sinónimos: dicotómico, lógico, indicador, booleano)

2. Ordinal: Datos categóricos que tienen un ordenamiento explícito. (Sinónimo: factor ordenado)

De esta clasificación dependerá su tratamiento pues estos datos normalmente se clasifican en el software por sus tipos, los cuales incluyen: continuos, discretos, binarios y ordinales. Así, la tipificación de datos en el software actúa como una señal para el software sobre cómo procesar la información

### ***`DataFrame`***

El tratamiento de información comunmente se hace con datos rectagulares (Hoja de cálculo) pues son la estructura de datos básica para fines estadísticos y
modelos de machine learning. Esta tipo de información la vamos a llamar de acá en adelante `dataframe`.

Una columna dentro de un dataframe se conoce comúnmente como una característica (feature). No tan común en este ambito, pero términos usados como: atributo, entrada, predictor.

Muchos proyectos en ciencia de datos implican predecir un resultado, a menudo un resultado de sí/no. Las features son las utilizadas para predecir el resultado de un experimento o un estudio. Esta variable es conocida como `target` o variable dependiente o variable respuesta.

Una fila dentro de un dataframe se conoce comúnmente como un `record`. O quizá como: instancia u observación.

Importemos nuestro módulo de trabajo y un dataframe.

In [2]:
import pandas as pd

url_base = "https://raw.githubusercontent.com/lacamposm/Fundamentos_Analitica/main/data/"
name_data = "TABLA_PERSONAS.csv"
df = pd.read_csv(url_base + name_data, sep=";", index_col=0)
df.head()

,EDAD,SEXO,ESTATURA,NIVEL_ESCOLAR,MARCA_DE_AUTO,NUMERO_DE_HIJOS,SALARIO
PERSONA,,,,,,,
PERSONA 1,21,M,"1,54",MAESTRIA,AUDI,0,1200000
PERSONA 2,26,F,"1,55",PROFESIONAL,RENAULT,5,1250000
PERSONA 3,30,F,"1,6",DOCTORADO,BMW,2,900000
PERSONA 4,31,F,"1,7",PROFESIONAL,RENAULT,2,800000
PERSONA 5,35,M,"1,71",MAESTRIA,AUDI,1,950000

In [7]:
## Tipos de datos importados
df.dtypes

EDAD               int64
SEXO                 str
ESTATURA             str
NIVEL_ESCOLAR        str
MARCA_DE_AUTO        str
NUMERO_DE_HIJOS    int64
SALARIO            int64
dtype: object

In [8]:
## Tenemos 31 registros y 7 features
df.shape

(31, 7)

In [9]:
## Información básica del DataFrame
df.info()

<class 'pandas.DataFrame'>
Index: 31 entries, PERSONA 1 to PERSONA 31
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EDAD             31 non-null     int64
 1   SEXO             30 non-null     str
 2   ESTATURA         31 non-null     str
 3   NIVEL_ESCOLAR    30 non-null     str
 4   MARCA_DE_AUTO    31 non-null     str
 5   NUMERO_DE_HIJOS  31 non-null     int64
 6   SALARIO          31 non-null     int64
dtypes: int64(3), str(4)
memory usage: 1.9+ KB

Note que tenemos 7 features, 2 de las cuales tienen un valor nulo. Vamos a encontralos

In [24]:
##  Nulos por columna
df.isna().sum().to_frame(name="count_nan").T

,EDAD,SEXO,ESTATURA,NIVEL_ESCOLAR,MARCA_DE_AUTO,NUMERO_DE_HIJOS,SALARIO
count_nan,0,1,0,1,0,0,0

Tenemos valores nulos en 2 columnas `SEXO` y `NIVEL_ESCOLAR`

In [27]:
df["SEXO"].isna()

PERSONA
PERSONA 1     False
PERSONA 2     False
PERSONA 3     False
PERSONA 4     False
PERSONA 5     False
PERSONA 6     False
PERSONA 7     False
PERSONA 8     False
PERSONA 9     False
PERSONA 10    False
PERSONA 11    False
PERSONA 12    False
PERSONA 13    False
PERSONA 14    False
PERSONA 15    False
PERSONA 16    False
PERSONA 17    False
PERSONA 18    False
PERSONA 19    False
PERSONA 20    False
PERSONA 21    False
PERSONA 22    False
PERSONA 23    False
PERSONA 24    False
PERSONA 25    False
PERSONA 26    False
PERSONA 27    False
PERSONA 28    False
PERSONA 29    False
PERSONA 30    False
PERSONA 31     True
Name: SEXO, dtype: bool

In [30]:
df.tail()

,EDAD,SEXO,ESTATURA,NIVEL_ESCOLAR,MARCA_DE_AUTO,NUMERO_DE_HIJOS,SALARIO
PERSONA,,,,,,,
PERSONA 27,28,M,"1,57",PROFESIONAL,CHEVROLET,4,5200000
PERSONA 28,29,M,"1,6",PROFESIONAL,FORD,0,6000000
PERSONA 29,61,F,"1,54",PROFESIONAL,FORD,0,6100000
PERSONA 30,38,M,"1,52",PROFESIONAL,FORD,0,6300000
PERSONA 31,34,NaN,"1,5",NaN,AUDI,0,0

In [36]:
##  Se observa que el registro 31 tiene los NaN.
df[df["SEXO"].isna()]

,EDAD,SEXO,ESTATURA,NIVEL_ESCOLAR,MARCA_DE_AUTO,NUMERO_DE_HIJOS,SALARIO
PERSONA,,,,,,,
PERSONA 31,34,NaN,"1,5",NaN,AUDI,0,0

### ***Tabla de frecuencias.***

| Categoría o  Clase  de la variable $\large{X_i}$  | Frecuencia Absoluta  $\large(n_i)$|Frecuencia  Relativa $\large{(f_i=\frac{n_i}{N})}$ |Frecuencia Relativa  en Porcentaje % $\large{(f_i*100)}$ | |
|:-------------------:|:---:|:---:|:---:|:---:|
|Clase 1 | $n_1$ : número de elementos de la clase 1 | $\large{f_1=\dfrac{n_1}{N}}$ | $\large{f_1*100}$|
|Clase 2 | $n_2$ : número de elementos de la clase 2 | $\large{f_2=\dfrac{n_2}{N}}$ | $\large{f_2*100}$|
|$\dots$ | $\dots$ | $\dots$|  $\dots$
 Clase k | $n_k$ : número de elementos de la clase k | $\large{f_k=\dfrac{n_k}{N}}$ | $\large{f_k*100}$|
|Total | $n_1+n_2+ \dots + n_k =N$	| $\large{1}$ | $100\%$

Algunas consideraciones de esta tabla.

- La **frecuencia absoluta** $(n_i)$ de una clase $X_i$ es el número de veces que se repite la clase $X_i$.

- La suma de todas las frecuencias absolutas $(n_i)$ con $i = 1,2,3,\dots , k$ es igual al número total de datos (elementos).

$$\sum \limits_{i=1} ^{k} n_i = n_1 + n_2 + \dots + n_k = N$$

donde $N$ es el número total de elementos.

- La **frecuencia relativa** $f_i$ de una clase $X_i$ es la proporción de valores iguales a $X_i$ en el conjunto de datos. En otras palabras

$$f_i= \dfrac{n_i}{N}$$
donde $n_i$ representa el número de veces que se repite $X_i$

Vamos a construir una tabla de frecuencias de la feature `MARCA_DE_AUTO`

In [ ]:
df["MARCA_DE_AUTO"].value_counts()

In [ ]:
## Frecuencia absoluta.
frec_abs = df["MARCA_DE_AUTO"].value_counts()
frec_abs.name = "frec_abs"
frec_abs

In [ ]:
## Frecuencia relativa.
frec_rela = df["MARCA_DE_AUTO"].value_counts(normalize=True)
frec_rela.name = "frec_rela"
frec_rela

In [ ]:
## Frecuencia relativa.
frec_rela_porcen = df["MARCA_DE_AUTO"].value_counts(normalize=True)*100
frec_rela_porcen.name = "frec_rela_%"
frec_rela_porcen

In [ ]:
pd.concat([frec_abs, frec_rela, frec_rela_porcen], axis=1)

In [ ]:
tabla_frecuencia = pd.concat([frec_abs,frec_rela,frec_rela_porcen], axis=1)
tabla_frecuencia

In [ ]:
tabla_frecuencia.apply(sum, axis=0).to_frame("TOTALES").T

In [ ]:
tabla_frecuencia = pd.concat([frec_abs,frec_rela,frec_rela_porcen], axis=1)
total = tabla_frecuencia.apply(sum, axis=0).to_frame("TOTALES").T
pd.concat([tabla_frecuencia,total], axis=0)

In [ ]:
# Ejercicio: Crear una función que genere la tabla de frecuencias de cada una
# de las columnas del dataframe df (tabla personas) pasandole el nombre de la
# columna.
def table_frecuencia(name_column):
    """
        Output: pd.DataFrame (tabla de frecuencia de la columna con nombre --> name_column)
    """
    #
    # return

### ***Representación gráfica : barras y tortas.***

#### ***Gráfico de barras de la frecuencia absoluta.***

Haremos algunas indicaciones sobre gráficos de barras:

1. Los diagramas (o gráficos) de barras se usan para variables cualitativas (categóricas) o para variables cuantitativas discretas.

2. Los niveles de cada factor o categoría van en el eje $x$.

3. Las frecuencias en el eje $y$. (o proporciones)

4. Usamos el método plot de una Serie de pandas, con el parámetro `kind='bar'`.

In [ ]:
tabla_frecuencia

In [ ]:
tabla_frecuencia["frec_abs"]

In [ ]:
## Primer plot.
tabla_frecuencia["frec_abs"].plot(kind="bar");

In [ ]:
## Módulo para plots.
import matplotlib.pyplot as plt

plt.style.use("ggplot")           ## Estilo para las gŕaficas
plt.figure(figsize=(15,6))        ## Tamaño del plot
plt.bar(
  x=tabla_frecuencia.index,
  height=tabla_frecuencia["frec_abs"],
  color=["white", "red", "white", "white", "white"]
  )
##
plt.xlabel("\nMarca de Auto")     ## Etiqueta eje x
plt.ylabel("Cantidad")            ## Etiqueta eje y
plt.title("Gráfico de barras: Marca de auto vs Cantidad",) # Título.
plt.ylim((0, 8.8))                 ## Longitud eje y
plt.xticks(rotation=0)          ## Rotación de las etiquetas del eje x.
## Anotamos los valores de cada categoría.
for label, annot in enumerate(tabla_frecuencia["frec_abs"]):
   plt.annotate(str(annot), xy=(label, annot+0.2))
plt.show()

#### ***Ejercicio 1.***

Realice un plot como el anterior sobre la feature `NIVEL_ESCOLAR`. Las barras se deben presentar de la menor a la mayor

***Respuesta.***

In [ ]:
## Celda de código para probar.
serie_to_plot = df["NIVEL_ESCOLAR"].value_counts().sort_values(ascending=True)
print(serie_to_plot.index)
print(serie_to_plot)
plt.bar(
  x=serie_to_plot.index,
  height=serie_to_plot,
  color=["#3D2823", "red", "#CF8FD1"]
  )
plt.show()

### ***2. Gráfico de torta de la frecuencia absoluta.***

También podemos representar y resumir las variables con un pie o diagrama de torta. Recordemos que estos diagramas se representan con un círculo, en el cual, las proporciones de cada una de las categorías de la variable satisfacen que a mayor área (o pedazo de círculo) indica una mayor proporción de la categoría con respecto al total. Adicionalmente,  no es recomendable usar estos diagramas si se tienen muchas categorías para facilitar su lectura.

La instrucción para hacer un diagrama de torta básico es `plt.pie()`.

In [ ]:
tabla_frecuencia

In [ ]:
tabla_frecuencia['frec_abs']

In [ ]:
## pie plot
plt.figure(figsize=(10,7))

plt.pie(
    x=tabla_frecuencia["frec_abs"],
    labels=tabla_frecuencia.index,
    colors=["orange", "cyan", "brown","grey", "indigo",],
    autopct="%.2f%%",
    )

plt.title("Gráfico de torta: Marca de auto.",)
plt.show()

### ***3. Gráfico de barras horizontal.***

Podemos hacer un gráfico de barras horizontal simplemente con la instrucción usamos `plt.barh`. Veamos el siguiente ejemplo:

In [ ]:
plt.figure(figsize = (15,6))
plt.barh(
  y=tabla_frecuencia.index,
  width=tabla_frecuencia["frec_abs"],
  color = ["b", "r", "pink", "g", "orange"]
  )
plt.xlabel("\nFrecuencia")
plt.ylabel("Marca de Auto")
plt.title("Gráfico de barras: Marca de auto vs Frecuencia",)

for label, annot in enumerate(tabla_frecuencia["frec_abs"]):
  plt.annotate(str(annot), xy=(annot+0.1, label))
plt.show()

### ***4. Gráficos de barras múltiples.***

Para hacer varios gráficos de barras vamos a importar la información en el archivo *NOTASBARRAS.xlsx*.

In [ ]:
## Importamos la informacion desde el repositorio del curso.
url_base = "https://raw.githubusercontent.com/lacamposm/Fundamentos_Analitica/main/data/"
url_file = "NOTASBARRAS.xlsx"
print(url_base + url_file)
df1 = pd.read_excel(url_base + url_file, index_col=0)
df1.head()

In [ ]:
df1.loc["Ingenieros de Sistemas"]

In [ ]:
## Reescribimos los nombres de la columnas.
df1.columns = ['PromN1','PromN2','PromN3','PromNF']
df1

In [ ]:
import numpy as np
plt.figure(figsize=(15,6))
#
X_axis = np.arange(len(df1.columns))
plt.bar(x=X_axis -0.2, height=df1.loc["Ingenieros de Sistemas"], width=0.1, label="IngSis")
plt.bar(X_axis -0.1, df1.loc["Ingenieros de Electrónicos"],width=0.1, label="IngElect")
plt.bar(X_axis, df1.loc["Ingenieros Ambientales"],width=0.1, label="IngAmb")
plt.bar(X_axis + 0.1, df1.loc["Ingenieros Industriales"],width=0.1, label = "IngInd")
plt.xticks(X_axis, df1.T.index)
plt.xlabel("Notas del curso",)
plt.ylabel("Promedio por corte",)
plt.title("Promedio Notas por corte")
plt.legend()
plt.show()

### ***Con el método [metl](https://pandas.pydata.org/docs/reference/api/pandas.melt.html) de pandas.***

In [ ]:
## Importamos la informacion desde el repositorio del curso.
url_base = "https://raw.githubusercontent.com/lacamposm/Fundamentos_Analitica/main/data/"
url_file = "NOTASBARRAS.xlsx"
df1 = pd.read_excel(url_base + url_file, index_col=0)
df1.reset_index(inplace=True)
df1.rename(columns={'index':'Programa'}, inplace=True)
df1

In [ ]:
df_plot = pd.melt(
    df1,
    id_vars=["Programa"],
    var_name="Corte"
)
df_plot

In [ ]:
import seaborn as sns

plt.figure(figsize=(15, 6))
## Podemos personalizar los colores.
my_palette = {"Ingenieros de Sistemas": "red", "Ingenieros de Electrónicos": "magenta",
              "Ingenieros Ambientales": "green", "Ingenieros Industriales": "blue"}
##
ax = sns.barplot(data=df_plot, x="Corte", y="value", hue="Programa", palette=my_palette)
plt.xticks(ticks=[0 ,1, 2, 3], labels=["Prom_C1", "Prom_C2", "Prom_C3", "Prom_DEF"])
##
labels=["IngSis", "IngElect", "IngAmb", "IngInd"]
h, l = ax.get_legend_handles_labels()
ax.legend(h, labels, title="Programa\n", bbox_to_anchor= (1,1))
plt.show()

In [ ]:
sns.countplot(data=df_plot, x="Programa")
plt.show()